@tailwind base;
@tailwind components;
@tailwind utilities;


.o-preloader .preloader_pane {
  display:block;
  overflow:hidden;
  pointer-events:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  -ms-transform-origin:top;
  transform-origin:top
 }
 .o-preloader .preloader_pane.-top {
  background:#e21836;
  z-index:2
 }
 .o-preloader .preloader_pane.-mid {
  background:#161616;
  z-index:1
 }
 .o-preloader .preloader_pane.-bottom {
  background:#222;
  z-index:0
 }

.title {
  font-size: clamp(62px, 7.5vmax, 60px);
  text-transform: uppercase;
  font-weight: 600;
}

.h1 {
  font-size: clamp(62px, 7.5vmax, 20px);
  text-transform: uppercase;
  font-weight: 400;
}

.HomeHeader {
  position: relative;
  height: calc(78vh - 70px);
  background-color: #5c1929;
  color: #fff;
}
@media print, screen and (min-width: 64em) {
  .HomeHeader {
    margin-top: -90px;
    padding-top: 90px;
    height: 92vh;
  }
}
.HomeHeader-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 1;
  align-items: center;
  padding: 0 calc(48px / 2);
  height: 100%;
  overflow: hidden;
}
@media print, screen and (min-width: 40em) {
  .HomeHeader-content {
    padding: 0 40px;
  }
}
@media print, screen and (min-width: 64em) {
  .HomeHeader-content {
    padding: 0 40px;
  }
}
@media screen and (min-width: 120em) {
  .HomeHeader-content {
    max-width: 1540px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 160em) {
  .HomeHeader-content {
    max-width: 1920px;
    padding: 0 60px;
  }
}
.HomeHeader-title {
  font-size: clamp(62px, 7.5vmax, 168px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  line-height: 1;
  margin-bottom: 0;
}
.HomeHeader-title span {
  grid-column: 3/13;
  opacity: 0;
  transition: opacity 0.3s ease-out,
    transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.HomeHeader-title span:nth-child(odd) {
  transform: translateX(calc(64px / 2));
  grid-column-start: 1;
}
.HomeHeader-title span:nth-child(2n) {
  transform: translateX(calc(calc(64px / 2) * -1));
}
.HomeHeader-title span:first-child {
  grid-column-start: 3;
  transition-delay: 0.3s;
}
.HomeHeader-title span:nth-child(2) {
  transition-delay: 0.6s;
}
.HomeHeader-title span:nth-child(3) {
  transition-delay: 0.9s;
}
.HomeHeader-title.is-visible span {
  transform: translateX(0);
  opacity: 1;
}
.HomeHeader-video-containers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 100%;
}
@media print, screen and (min-width: 64em) {
  .HomeHeader-video-containers {
    width: calc(100% - 40px);
  }
}
@media only screen and (min-width: 1280px) {
  .HomeHeader-video-containers {
    width: calc(100% - (100% - 1200px) / 2);
  }
}
@media screen and (min-width: 120em) {
  .HomeHeader-video-containers {
    width: calc(100% - (100% - 1440px) / 2);
  }
}
@media screen and (min-width: 160em) {
  .HomeHeader-video-containers {
    width: calc(100% - (100% - 1800px) / 2);
  }
}
.VideoLoop {
  position: relative;
}
.VideoLoop:before {
  content: '';
  display: block;
  padding-top: calc((1 / 1) * 100%);
}
@media print, screen and (min-width: 64em) {
  .VideoLoop {
    position: relative;
  }
  .VideoLoop:before {
    content: '';
    display: block;
    padding-top: calc((9 / 16) * 100%);
  }
}
.VideoLoop-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.VideoLoop--HomeHeader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.VideoLoop.VideoLoop--Homepage {
  margin-top: -120px;
  margin-bottom: 64px;
}
@media print, screen and (min-width: 64em) {
  .VideoLoop.VideoLoop--Homepage {
    margin-top: -250px;
    margin-bottom: 128px;
  }
}

.containers {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}
@media print, screen and (min-width: 40em) {
  .containers {
    padding: 0 40px;
  }
}
@media print, screen and (min-width: 64em) {
  .containers {
    padding: 0 40px;
  }
}
@media screen and (min-width: 120em) {
  .containers {
    max-width: 1540px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 160em) {
  .containers {
    max-width: 1920px;
    padding: 0 60px;
  }
}

.InstitutionBlock {
  margin-bottom: 64px;
  padding-bottom: 50px;
  background-color: #eae6e1;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock {
    margin-bottom: 128px;
    padding-bottom: 0;
  }
}
.InstitutionBlock-containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-containers {
    flex-direction: row;
  }
}
.InstitutionBlock-contentColumn {
  position: relative;
  flex: 1 1;
  padding: 40px 0 0;
  color: #5c1929;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-contentColumn {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% - calc(64px / 2) / 2);
    order: 1;
    max-width: calc(50% - calc(64px / 2) / 2);
    padding: 64px 8.3333333333%;
    background-color: #f5f2ef;
  }
}
@media screen and (min-width: 75em) {
  .InstitutionBlock-contentColumn {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.InstitutionBlock-contentColumn .Wysiwyg {
  margin-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-contentColumn:after {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    content: ' ';
    background-color: #f5f2ef;
  }
}
.InstitutionBlock-contentColumn > * {
  position: relative;
  z-index: 1;
}
.InstitutionBlock-contentColumn .Button.Button--border.Button--blackstone {
  margin-top: 32px;
  --Button-color: #fff;
  --Button-shape-color: #fff;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-contentColumn .Button.Button--border.Button--blackstone {
    --Button-color: #152c2e;
    --Button-shape-color: #152c2e;
  }
}
.InstitutionBlock-marksColumn {
  position: relative;
  flex: 1 1;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-marksColumn {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(50% + calc(64px / 2) / 2);
    order: 2;
    max-width: calc(50% + calc(64px / 2) / 2);
  }
}
.InstitutionBlock-marksContent {
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 100%;
  margin-right: calc(calc(48px / 2) * -1);
  padding: 64px calc(48px / 2) 0;
  background-color: #eae6e1;
}
@media print, screen and (min-width: 40em) {
  .InstitutionBlock-marksContent {
    margin-right: calc(calc(64px / 2) * -1);
  }
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-marksContent {
    margin-right: 0;
    padding: 60px calc(1 / 6 * 100% - calc(64px / 2));
  }
}
@media screen and (min-width: 75em) {
  .InstitutionBlock-marksContent {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.InstitutionBlock-marks {
  display: flex;
  flex-wrap: wrap;
}
.InstitutionBlock-mark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-right: calc(64px / 2);
  padding-bottom: 24px;
  color: #a29b93;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-mark {
    justify-content: flex-start;
    width: 50%;
    padding-bottom: 35px;
  }
  .InstitutionBlock-mark:last-child {
    padding-bottom: 0;
  }
}
.InstitutionBlock-mark .Wysiwyg {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 300;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-mark .Wysiwyg {
    font-size: 1.5rem;
  }
}
.InstitutionBlock-mark-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.InstitutionBlock-markHeading {
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock-markHeading {
    font-size: 3.125rem;
    line-height: 1.12;
  }
}
.InstitutionBlock.InstitutionBlock--homepage {
  padding-bottom: 120px;
  background-color: #5c1929;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock.InstitutionBlock--homepage {
    padding-bottom: 240px;
  }
}
.InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-marksContent {
  margin-top: -60px;
  margin-bottom: 40px;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-marksContent {
    margin-top: -100px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 75em) {
  .InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-marksContent {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 120em) {
  .InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-marksContent {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-contentColumn {
  padding: 0;
  color: #fff;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-contentColumn {
    padding: 64px 8.3333333333%;
    color: #5c1929;
    background-color: #fff;
  }
  .InstitutionBlock.InstitutionBlock--homepage
    .InstitutionBlock-contentColumn:after {
    display: none;
  }
}
@media screen and (min-width: 120em) {
  .InstitutionBlock.InstitutionBlock--homepage .InstitutionBlock-contentColumn {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.InstitutionBlock.InstitutionBlock--markOne .InstitutionBlock-mark {
  width: 100%;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock.InstitutionBlock--markOne .InstitutionBlock-mark {
    width: 50%;
  }
}
.InstitutionBlock.InstitutionBlock--markOne .InstitutionBlock-marksContent {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 0;
}
@media print, screen and (min-width: 64em) {
  .InstitutionBlock.InstitutionBlock--markOne .InstitutionBlock-marksContent {
    padding-left: calc(1 / 6 * 100% - calc(64px / 2));
  }
}
.InstitutionBlock.InstitutionBlock--markOne .InstitutionBlock-marks {
  transform: scale(1.2);
  transform-origin: left;
}

.BannerCard {
  width: 100%;
  margin-top: 30px;
  background-color: var(--BannerCard-content-background);
  --BannerCard-content-background: #5c1929;
}
@media print, screen and (min-width: 64em) {
  .BannerCard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-width: 50%;
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .BannerCard {
    grid-column-gap: 32px;
  }
}
.BannerCard:first-child {
  margin-bottom: 0;
}
.BannerCard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 25px;
}
@media print, screen and (min-width: 64em) {
  .BannerCard-content {
    grid-column: 1/4;
  }
}
.BannerCard-title {
  font-size: clamp(30px, 2.5vw, 40px);
  color: #fff;
}
.BannerCard-imageWrapper {
  position: relative;
  display: block;
  height: 100%;
  min-height: 375px;
  font-size: 0;
}
@media print, screen and (min-width: 64em) {
  .BannerCard-imageWrapper {
    grid-column: 4/7;
    transform: translateX(1px);
  }
}
.BannerCard-patternWrapper {
  width: 100%;
  height: 100%;
}
@media print, screen and (min-width: 64em) {
  .BannerCard-patternWrapper {
    transform: translateX(-1px);
  }
}
.BannerCard-imageWrapper-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.BannerCard.BannerCard--burgundy {
  --BannerCard-content-background: #5c1929;
}
.BannerCard.BannerCard--blackstone {
  --BannerCard-content-background: #152c2e;
}
.BannerCard.BannerCard--signalblue {
  --BannerCard-content-background: #71d0e5;
}
.BannerCard.BannerCard--warmgrey {
  --BannerCard-content-background: #eae6e1;
}
@media print, screen and (min-width: 64em) {
  .Columns .BannerCard {
    width: calc(50% - 17px);
    min-width: calc(50% - 17px);
  }
  .Columns .BannerCard:first-child {
    margin-right: 17px;
  }
  .Columns .BannerCard:nth-child(2) {
    margin-left: 17px;
  }
}
.BannerCard.BannerCard--brauwerij {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media print, screen and (min-width: 40em) {
  .BannerCard.BannerCard--brauwerij {
    grid-column-gap: 32px;
    width: calc(50% - 17px);
    min-width: calc(50% - 17px);
  }
  .BannerCard.BannerCard--brauwerij:first-child {
    margin-right: 17px;
  }
  .BannerCard.BannerCard--brauwerij:nth-child(2) {
    margin-left: 17px;
  }
}
.BannerCard.BannerCard--brauwerij .BannerCard-content {
  grid-area: 1/1/1/7;
  z-index: 1;
  padding: 35px 0 35px 38px;
}
@media print, screen and (min-width: 64em) {
  .BannerCard.BannerCard--brauwerij .BannerCard-content {
    grid-column: 1/4;
    padding: 50px 0 50px 40px;
  }
}
.BannerCard.BannerCard--brauwerij .BannerCard-title {
  width: 170px;
  color: #152c2e;
}
.BannerCard.BannerCard--brauwerij .BannerCard-imageWrapper {
  grid-area: 1/4/1/7;
  min-height: 0;
  z-index: 0;
  padding-left: 20px;
}
@media print, screen and (min-width: 40em) {
  .BannerCard.BannerCard--brauwerij .BannerCard-imageWrapper {
    min-height: 250px;
  }
}
@media print, screen and (min-width: 64em) {
  .BannerCard.BannerCard--brauwerij .BannerCard-imageWrapper {
    min-height: 375px;
  }
}
@media print, screen and (max-width: 39.99875em) {
  .BannerCard.BannerCard--brauwerij .BannerCard-buttonWrapper Button {
    padding: 20px 15px;
  }
}

.Columns {
  margin: 0 auto 64px;
  color: var(--Columns-color);
  --Columns-color: #5c1929;
  --Columns-hover-color: #152c2e;
}
@media print, screen and (min-width: 64em) {
  .Columns {
    margin: 0 auto 128px;
  }
}
.Column-item {
  min-width: 33.333%;
}
@media print, screen and (min-width: 64em) {
  .Column-item {
    max-width: 50%;
    padding: 0 35px;
    border-right: 1px solid #dbd5cd;
  }
  .Column-item:first-child {
    padding-left: 0;
  }
  .Column-item:last-child {
    padding-right: 0;
    border-right: none;
  }
  .Columns-grid {
    display: flex;
    justify-content: space-between;
  }
}
.Columns-optionalButton {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media print, screen and (min-width: 40em) {
  .Columns-optionalButton {
    flex-direction: row;
  }
}
@media print, screen and (min-width: 64em) {
  .Columns-optionalButton {
    justify-content: flex-end;
  }
}
.Columns.Columns--homepage {
  --Columns-color: #152c2e;
  --Columns-hover-color: #5c1929;
}
@media print, screen and (min-width: 64em) {
  .Columns.Columns--overview .Columns-grid {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .Columns.Columns--overview .Column-item {
    max-width: 33.333%;
  }
}
.Columns.Columns--people .Columns-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: calc(-32px / 2);
  margin-right: calc(-32px / 2);
}
.Columns.Columns--people .Columns-grid > * {
  padding: 0 calc(32px / 2);
  margin-bottom: 30px;
  width: 100%;
}
@media print, screen and (min-width: 40em) {
  .Columns.Columns--people .Columns-grid > * {
    width: 50%;
  }
}
@media print, screen and (min-width: 64em) {
  .Columns.Columns--people .Columns-grid > * {
    margin-bottom: 0;
    width: 25%;
  }
}
.Columns.Columns--brauwerij {
  margin-top: 64px;
}
@media print, screen and (min-width: 64em) {
  .Columns.Columns--brauwerij {
    margin-top: 128px;
  }
}
@media print, screen and (min-width: 40em) {
  .Columns.Columns--brauwerij .Columns-grid {
    display: flex;
  }
}

.Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 20px;
  font-family: Trade Gothic, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Button-color);
  background-color: var(--Button-background-color);
  --Button-color: #5c1929;
  --Button-background-color: transparent;
  --Button-shape-color: #eae6e1;
}
.Button > * {
  z-index: 1;
}
.Button:hover {
  cursor: pointer;
  --Button-background-color: #dbd5cd;
  --Button-shape-color: #dbd5cd;
}
.Button-icon,
.Button-label {
  transform: translateX(-20px);
  transition: transform 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0.1s;
}
.Button-label {
  margin-bottom: -4px;
  line-height: 1.625rem;
}
.Button-icon {
  margin-left: 5px;
}
.Button-bottom,
.Button-top {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-delay: 0.1s;
}
.Button-top {
  top: 0;
  transform-origin: right;
}
.Button-bottom,
.Button-top {
  background-color: var(--Button-shape-color);
}
.Button-bottom {
  bottom: 0;
  transform-origin: left;
}
.Button-left,
.Button-right {
  position: absolute;
  z-index: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  background-color: var(--Button-shape-color);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.7s;
}
.Button-left {
  left: 0;
  transform-origin: top left;
}
.Button-right {
  right: 0;
  transform-origin: bottom right;
}
.Button.is-visible .Button-icon,
.Button.is-visible .Button-label {
  transform: translateX(0);
}
.Button.is-visible .Button-bottom,
.Button.is-visible .Button-top {
  transform: scaleX(1);
}
.Button.is-visible .Button-left,
.Button.is-visible .Button-right {
  transform: scaleY(1);
}
.Button.Button--iconLeft .Button-icon {
  order: 0;
  margin-right: 5px;
  margin-left: 0;
}
.Button.Button--iconLeft .Button-label {
  order: 1;
}
.Button.Button--instagram .Button-icon {
  margin-right: 7px;
  margin-left: -5px;
}
.Button.Button--signalBlue {
  --Button-color: #152c2e;
  --Button-shape-color: #71d0e5;
}
.Button.Button--signalBlue:hover {
  --Button-color: #152c2e;
  --Button-shape-color: #eae6e1;
}
.Button.Button--blackstoneOnWhite {
  --Button-color: #fff;
  --Button-shape-color: #152c2e;
}
.Button.Button--blackstoneOnWhite:hover {
  --Button-color: #fff;
  --Button-shape-color: #71d0e5;
}
.Button.Button--blackstone {
  --Button-color: #fff;
  --Button-shape-color: #152c2e;
}
.Button.Button--blackstone:hover {
  --Button-color: #fff;
  --Button-shape-color: #fff;
}
.Button.Button--border.Button--burgundy {
  --Button-shape-color: #5c1929;
}
.Button.Button--border.Button--signalBlue {
  --Button-color: #152c2e;
}
.Button.Button--border.Button--signalBlue:hover {
  --Button-shape-color: #152c2e;
}
.Button.Button--brauwerij {
  padding: 16px;
}
@media print, screen and (min-width: 40em) {
  .Button.Button--brauwerij {
    padding: 20px;
  }
}
.Button.Button--brauwerij .Button-label {
  line-height: 1.125rem;
}
@media print, screen and (min-width: 40em) {
  .Button.Button--brauwerij .Button-label {
    line-height: 1.625rem;
  }
}
.Button.Button--brauwerij.Button--border.Button--signalBlue {
  --Button-color: #71d0e5;
}
.Button.Button--brauwerij.Button--border.Button--signalBlue:hover {
  --Button-color: #fff;
  --Button-shape-color: #fff;
}
.Button.Button--border.Button--pampass {
  --Button-color: #eae6e1;
}
.Button.Button--border.Button--pampass:hover {
  --Button-background-color: #dbd5cd;
  --Button-shape-color: #dbd5cd;
}
.Button.Button--border.Button--blackstone {
  --Button-color: #152c2e;
  --Button-shape-color: #152c2e;
}
.Button.Button--border.Button--blackstone:hover {
  --Button-color: #cfc8c0;
  --Button-shape-color: #cfc8c0;
}
.Button.Button--border.Button--blackstoneOnSignalBlue {
  --Button-color: #152c2e;
  --Button-shape-color: #152c2e;
}
.Button.Button--border.Button--blackstoneOnSignalBlue:hover {
  --Button-color: #fff;
  --Button-shape-color: #fff;
}
.Button.Button--secondButton {
  margin-top: 20px;
}
@media print, screen and (min-width: 40em) {
  .Button.Button--secondButton {
    margin-top: 0;
    margin-left: 20px;
  }
}
.Button.Button--spark {
  margin-top: 20px;
}
.Button.Button--border {
  --Button-background-color: transparent;
}
.Button.Button--border .Button-bottom,
.Button.Button--border .Button-top {
  height: 2px;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.Button.Button--border:hover {
  --Button-background-color: transparent;
  --Button-color: #152c2e;
  --Button-shape-color: #152c2e;
}
.Button.Button--textOnly {
  padding-left: 0;
  padding-right: 0;
  --Button-background-color: transparent;
}
.Button.Button--textOnly .Button-bottom,
.Button.Button--textOnly .Button-left,
.Button.Button--textOnly .Button-right,
.Button.Button--textOnly .Button-top {
  display: none;
}
.Button.Button--textOnly:hover {
  --Button-background-color: transparent;
  --Button-color: #5c1929;
  --Button-shape-color: transparent;
  text-decoration: underline;
}

.CTAblock,
.Columns.Columns--brauwerij .Columns-title {
  color: #152c2e;
}
.CTAblock {
  overflow: hidden;
  margin-bottom: 64px;
  background-color: var(--CTAblock-background-color);
  --CTAblock-background-color: transparent;
}
@media print, screen and (min-width: 64em) {
  .CTAblock {
    margin-bottom: 128px;
  }
}
.CTAblock.is-spark {
  background-color: #0cb36c;
}
.CTAblock.CTAblock--spark {
  color: #fff;
  display: block;
}
@media print, screen and (min-width: 40em) {
  .CTAblock.CTAblock--spark {
    display: grid;
  }
}
.CTAblock-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}
@media print, screen and (min-width: 40em) {
  .CTAblock-wrapper {
    padding: 0 40px;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-wrapper {
    padding: 0 40px;
  }
}
@media screen and (min-width: 120em) {
  .CTAblock-wrapper {
    max-width: 1540px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 160em) {
  .CTAblock-wrapper {
    max-width: 1920px;
    padding: 0 60px;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 32px;
  }
}
.CTAblock-wrapper > * {
  z-index: 1;
}
.CTAblock-image {
  position: relative;
  width: calc(100% + 48px);
  min-height: 405px;
  transform: translateX(calc(48px * -1));
  font-size: 0;
}
@media print, screen and (min-width: 64em) {
  .CTAblock-image {
    grid-area: 1/1/2/7;
    width: calc(50vw - 40px);
  }
}
@media screen and (min-width: 75em) {
  .CTAblock-image {
    transform: translateX(calc((((100vw - 1280px) / 2) + 40px) * -1));
  }
}
@media screen and (min-width: 120em) {
  .CTAblock-image {
    transform: translateX(calc((((100vw - 1540px) / 2) + 50px) * -1));
  }
}
@media screen and (min-width: 160em) {
  .CTAblock-image {
    transform: translateX(calc((((100vw - 1920px) / 2) + 60px) * -1));
  }
}
.CTAblock-image:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: ' ';
}
.CTAblock-image * {
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 405px;
}
.CTAblock-image-img {
  object-fit: cover;
  transition: object-position 2s ease-out;
}
.CTAblock-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 0;
}
@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .CTAblock-content {
    padding-bottom: 80px;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-content {
    grid-area: 1/7/2/13;
    padding: 128px 0;
  }
}
@media screen and (min-width: 90em) {
  .CTAblock-content {
    grid-area: 1/6/2/13;
  }
}
.CTAblock-text .Wysiwyg {
  margin-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  .CTAblock-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .CTAblock-grid {
    grid-column-gap: 32px;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-grid .CTAblock-text {
    grid-area: 1/2/2/7;
  }
}
.CTAblock-button {
  display: flex;
  width: max-content;
  margin-top: 30px;
}
.CTAblock-patternWrapper {
  position: absolute;
  z-index: 0;
  width: 75%;
  max-height: 100%;
  height: 85%;
  left: 0;
  bottom: 0;
}
@media print, screen and (min-width: 40em) {
  .CTAblock-patternWrapper {
    height: 45%;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-patternWrapper {
    --container-width: 1280px;
    width: var(--container-width);
    margin-left: -616px;
  }
}
@media screen and (min-width: 120em) {
  .CTAblock-patternWrapper {
    --container-width: 1540px;
    margin-left: -737px;
  }
}
@media screen and (min-width: 160em) {
  .CTAblock-patternWrapper {
    --container-width: 1920px;
    margin-left: -918px;
  }
}
.CTAblock-brauwerijLogo {
  order: 1;
  max-width: 40%;
  margin-bottom: 64px;
}
@media print, screen and (min-width: 40em) {
  .CTAblock-brauwerijLogo {
    max-width: 25%;
    padding-bottom: 0;
    margin-bottom: -25%;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-brauwerijLogo {
    grid-area: 1/11 / span 1/13;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 105px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.CTAblock-mediaWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  order: 1;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
}
@media print, screen and (min-width: 40em) {
  .CTAblock-mediaWrapper {
    margin-bottom: 0;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock-mediaWrapper {
    grid-area: 3/8/6/13;
    width: calc(100% + 40px);
  }
}
.CTAblock.CTAblock--warm-gray {
  --CTAblock-background-color: #eae6e1;
}
.CTAblock.CTAblock--left .CTAblock-image .CTAblock-image-img.is-visible {
  object-position: center;
}
.CTAblock.CTAblock--right .CTAblock-image {
  transform: translateX(24px);
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--right .CTAblock-image {
    grid-area: 1/7/2/13;
    width: 50vw;
    transform: translateX(40px);
  }
}
@media screen and (min-width: 75em) {
  .CTAblock.CTAblock--right .CTAblock-image {
    transform: translateX(calc(((100vw - 1280px) / 2) + 40px));
  }
}
@media screen and (min-width: 120em) {
  .CTAblock.CTAblock--right .CTAblock-image {
    transform: translateX(calc(((100vw - 1540px) / 2) + 50px));
  }
}
@media screen and (min-width: 160em) {
  .CTAblock.CTAblock--right .CTAblock-image {
    transform: translateX(calc(((100vw - 1920px) / 2) + 60px));
  }
}
@media print, screen and (max-width: 63.99875em) {
  .CTAblock.CTAblock--right .CTAblock-image:after {
    left: calc(calc(64px / 2) * -1);
  }
}
.CTAblock.CTAblock--right .CTAblock-image .CTAblock-image-img.is-visible {
  object-position: center;
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--right .CTAblock-wrapper:after {
    right: 0;
  }
  .CTAblock.CTAblock--right .CTAblock-content {
    grid-area: 1/1/2/7;
  }
}
@media screen and (min-width: 90em) {
  .CTAblock.CTAblock--right .CTAblock-content {
    grid-area: 1/1/2/8;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--right .CTAblock-grid .CTAblock-text {
    grid-area: 1/2/2/6;
  }
  .CTAblock.CTAblock--offset .CTAblock-wrapper:after {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    content: ' ';
    background-color: #fff;
  }
}
@media print, screen and (max-width: 63.99875em) {
  .CTAblock.CTAblock--offset .CTAblock-image:after {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 50%;
    content: ' ';
    background-color: #fff;
  }
}
.CTAblock.CTAblock--offset .CTAblock-content {
  margin-top: 100px;
}
.CTAblock.CTAblock--margin {
  margin: 0 0 64px;
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--margin {
    margin: 0 0 128px;
  }
}
.CTAblock--xl-title .AnimatedTitle {
  font-size: clamp(34px, 6vmax, 80px);
  line-height: 1;
}
.CTAblock.CTAblock--inLayout {
  width: 100vw;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: -24px;
}
@media print, screen and (min-width: 40em) {
  .CTAblock.CTAblock--inLayout {
    margin-left: -40px;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--inLayout {
    margin-left: calc(((1280px / 12 * 2) + (40px)) * -1);
  }
}
@media screen and (min-width: 75em) {
  .CTAblock.CTAblock--inLayout {
    margin-left: calc(((1280px / 12 * 2) + (40px) + (100vw - 1280px) / 2) * -1);
  }
}
.CTAblock.CTAblock--specialEvent {
  color: #002c46;
}
.CTAblock.CTAblock--brauwerij {
  margin-bottom: 0;
  color: #fff;
  --CTAblock-background-color: #152c2e;
}
.CTAblock.CTAblock--brauwerij .CTAblock-wrapper {
  display: flex;
  flex-direction: column;
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--brauwerij .CTAblock-wrapper {
    display: grid;
    grid-template-rows: 250px auto;
  }
}
.CTAblock.CTAblock--brauwerij .CTAblock-image {
  z-index: 1;
  width: 85%;
  transform: translateX(24px);
  margin-bottom: 50px;
}
@media print, screen and (min-width: 40em) {
  .CTAblock.CTAblock--brauwerij .CTAblock-image {
    width: 50%;
    transform: translateX(40px);
    margin-bottom: 0;
  }
}
@media print, screen and (min-width: 64em) {
  .CTAblock.CTAblock--brauwerij .CTAblock-image {
    width: calc(100% + 40px);
    transform: translateX(0);
    max-height: 680px;
  }
}
.CTAblock.CTAblock--brauwerij .CTAblock-content {
  grid-area: 1/1/5/7;
  justify-content: flex-start;
}

.TextCard {
  display: block;
  margin-top: 40px;
  text-decoration: none;
  color: var(--Columns-color);
}
@media print, screen and (min-width: 64em) {
  .TextCard {
    margin-top: 0;
  }
}
.TextCard:hover {
  cursor: pointer;
  color: var(--Columns-hover-color);
}
@media print, screen and (min-width: 64em) {
  .TextCard-title {
    min-height: 128px;
    font-size: 1.75rem;
    line-height: 1.1428571429;
  }
}
.TextCard-date {
  display: block;
  margin-bottom: 10px;
}
.TextCard-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media print, screen and (min-width: 64em) {
  .TextCard-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
.TextCard-icon {
  width: 8px;
  height: 15px;
  margin-left: 5px;
}

.Footer {
  margin-top: auto;
  background-color: #222;
}
.Footer-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}
@media print, screen and (min-width: 40em) {
  .Footer-wrapper {
    padding: 0 40px;
  }
}
@media print, screen and (min-width: 64em) {
  .Footer-wrapper {
    padding: 0 40px;
  }
}
@media screen and (min-width: 120em) {
  .Footer-wrapper {
    max-width: 1540px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 160em) {
  .Footer-wrapper {
    max-width: 1920px;
    padding: 0 60px;
  }
}
.Footer-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media print, screen and (min-width: 64em) {
  .Footer-columns {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 32px;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.Footer-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media print, screen and (min-width: 64em) {
  .Footer-list {
    width: auto;
  }
  .Footer-offices {
    grid-area: 1/1/2/3;
  }
  .Footer-contacts {
    grid-area: 1/3/2/6;
  }
}
.Footer-networks {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #444;
}
@media print, screen and (min-width: 64em) {
  .Footer-networks {
    grid-area: 1/8/2/13;
    width: auto;
    margin-top: 0;
    padding-top: 0;
    border: none;
  }
}
.Footer-networks p {
  margin-bottom: 15px;
  color: #fff;
}
.Footer-newsletter {
  margin-bottom: 20px;
}
.Footer-networksLinks {
  display: flex;
}
.Footer-networksLinks > * {
  margin-right: 20px;
}
.Footer-networksLinks .Footer-link {
  margin-bottom: 0;
}
.Footer-link {
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
}
.Footer-link:last-child {
  margin-bottom: 0;
}
.Footer-link:hover {
  text-decoration: underline;
}
.Footer-contactIcon {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-right: 10px;
}
.Footer-contactLink {
  display: flex;
}
.Footer-contactLink:hover {
  cursor: pointer;
}
.Footer-noLink:hover {
  cursor: default;
  text-decoration: none;
}
.Footer-heading {
  font-family: Trade Gothic, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.Footer-bottom {
  background-color: #152c2e;
}
@media print, screen and (min-width: 40em) {
  .Footer-bottom {
    height: 58px;
  }
}
.Footer-bottomNavigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 0.875rem;
}
@media print, screen and (min-width: 40em) {
  .Footer-bottomNavigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.Footer-bottomLink {
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #444;
}
@media print, screen and (min-width: 40em) {
  .Footer-bottomLink {
    margin: 0;
    padding: 0;
    border: none;
  }
}
.Footer-bottomLink:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.Footer-bottomLink:hover {
  text-decoration: underline;
}
.CTAblock + .Footer,
.PersonLinks + .Footer {
  margin-top: -64px;
}
@media print, screen and (min-width: 64em) {
  .CTAblock + .Footer,
  .PersonLinks + .Footer {
    margin-top: -128px;
  }
}

.ExpertiseHeader {
  margin-top: -90px;
  padding: 125px 0 60px;
  color: #fff;
  background-color: var(--ExpertiseHeader-background);
  --ExpertiseHeader-background: #5c1929;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader {
    padding: 170px 0 90px;
  }
  .ExpertiseHeader-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .ExpertiseHeader-wrapper {
    grid-column-gap: 32px;
  }
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-title {
    grid-area: 1/1/2/6;
  }
  .ExpertiseHeader-description {
    grid-area: 2/1/3/6;
  }
  .ExpertiseHeader-titleWrapper {
    grid-column: 2/9;
    margin-left: -21%;
  }
}
.ExpertiseHeader-titleWrapper .AnimatedTitle {
  margin-bottom: 0;
}
.ExpertiseHeader-experts {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-experts {
    grid-row: 2/3;
    grid-column: 2/6;
  }
}
.ExpertiseHeader-experts span {
  margin-right: 8px;
  color: #fff;
}
.ExpertiseHeader-block {
  margin-bottom: 64px;
  padding-bottom: 50px;
  background-color: #eae6e1;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 128px;
    padding-bottom: 0;
    background-color: transparent;
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .ExpertiseHeader-block {
    grid-column-gap: 32px;
  }
}
.ExpertiseHeader-blockContent {
  margin-right: -24px;
  margin-bottom: -20px;
  transform: translateY(-90px);
  background-color: #f5f2ef;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-blockContent {
    grid-column: 1/8;
    margin-right: -32px;
    margin-bottom: 0;
    transform: translateY(0);
  }
}
.ExpertiseHeader-blockText {
  padding: 25px;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-blockText {
    padding: 70px 100px 0;
    transform: translateY(-70px);
    background-color: #f5f2ef;
  }
}
.ExpertiseHeader-blockText .Wysiwyg {
  margin-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-blockContacts {
    grid-column: 8/13;
    padding: 40px 100px;
    background-color: #eae6e1;
  }
}
.ExpertiseHeader-blockContacts .PersonCard {
  margin-bottom: 30px;
}
.ExpertiseHeader-blockContacts .PersonCard .PersonCard-image {
  width: 105px;
  height: 105px;
}
.ExpertiseHeader-blockContacts .PersonCard:last-child {
  margin-bottom: 10px;
}
.ExpertiseHeader-blockContactsTitle {
  font-size: 1.5rem;
  margin-top: 60px;
}
.ExpertiseHeader-blockContactsTitle:first-child {
  margin-top: 0;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader-blockContactsTitle:first-child {
    margin-top: 30px;
  }
}
.ExpertiseHeader.ExpertiseHeader--withBreadcrumbs {
  padding-top: 90px;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseHeader.ExpertiseHeader--withBreadcrumbs {
    padding-top: 80px;
  }
}
.ExpertiseHeader.ExpertiseHeader--withHeaderBlock {
  padding-bottom: 150px;
}
.ExpertiseGrid {
  padding: 50px 0;
  background-color: var(--ExerciseGrid-background);
  --ExerciseGrid-background: transparent;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseGrid {
    padding: 100px 0;
  }
  .ExpertiseGrid-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .ExpertiseGrid-grid {
    grid-column-gap: 32px;
  }
}
.ExpertiseGrid-column {
  margin-top: 40px;
}
@media print, screen and (min-width: 64em) {
  .ExpertiseGrid-column {
    margin-top: 0;
  }
  .ExpertiseGrid-column:first-child {
    grid-area: 1/1/2/4;
  }
  .ExpertiseGrid-column:nth-child(2) {
    grid-area: 1/5/2/8;
  }
  .ExpertiseGrid-column:nth-child(3) {
    grid-area: 1/9/2/12;
  }
}
.ExpertiseGrid-column:first-child {
  margin-top: 0;
}
.ExpertiseGrid-columnTitle {
  font-size: 1.5rem;
}
.ExpertiseGrid.ExpertiseGrid--warmGrey2 {
  --ExerciseGrid-background: #eae6e1;
}

.ArticleFooter {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #dbd5cd;
}
.PersonCard {
  display: flex;
  flex-direction: column;
}
.PersonCard-image {
  position: relative;
  width: 100%;
  background-color: #dbd5cd;
  padding-bottom: 100%;
  margin-bottom: 25px;
}
.PersonCard-image svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.PersonCard-image-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.PersonCard-nameLink {
  color: inherit;
  text-decoration: none;
}
.PersonCard-details {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.PersonCard-personInfo .PersonCard-name {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.5;
}
.PersonCard-personInfo .PersonCard-role {
  margin-bottom: 4px;
}
.PersonCard-bio {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  padding-top: 16px;
}
.PersonCard--fontHeadings .PersonCard-personInfo .PersonCard-name,
.PersonCard--fontHeadings .PersonCard-personInfo .PersonCard-role {
  font-family: Trade Gothic, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
}
@media print, screen and (min-width: 40em) {
  .PersonCard--horizontalForLarge {
    flex-direction: row;
  }
  .PersonCard--horizontalForLarge .PersonCard-image {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 32px;
    width: 175px;
    height: 175px;
  }
  .PersonCard--horizontalForLarge .PersonCard-details {
    justify-content: space-between;
  }
}
.PersonCard--small {
  flex-direction: row;
}
.PersonCard--small .PersonCard-image {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 24px;
  width: 72px;
  height: 72px;
}
.PersonCard--largeWithBio .PersonCard-details {
  justify-content: flex-start;
}
.PersonCard--xlarge .PersonCard-personInfo {
  padding-bottom: 32px;
}
.PersonCard.PersonCard--carousel {
  flex-direction: column;
}
.PersonCard.PersonCard--carousel .PersonCard-image {
  width: 100%;
  height: calc((100vw - 24px * 3) / 2);
  margin-bottom: 25px;
}
@media print, screen and (min-width: 40em) {
  .PersonCard.PersonCard--carousel .PersonCard-image {
    height: calc((100vw - 40px * 4) / 3);
  }
}
@media print, screen and (min-width: 64em) {
  .PersonCard.PersonCard--carousel .PersonCard-image {
    --largeImageWidth: calc(((50vw + 32px / 2) - (32px * 2)) / 3);
    height: min(var(--largeImageWidth), 202px);
  }
}
@media screen and (min-width: 120em) {
  .PersonCard.PersonCard--carousel .PersonCard-image {
    height: 183px;
  }
}
@media screen and (min-width: 160em) {
  .PersonCard.PersonCard--carousel .PersonCard-image {
    height: 235px;
  }
}
.PersonCard.PersonCard--carousel .PersonCard-role {
  font-family: Trade Gothic, Helvetica, Arial, sans-serif;
}
@media print, screen and (max-width: 39.99875em) {
  .PersonCard.PersonCard--carousel .PersonCard-role {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.Quote {
  padding: 70px 0;
}
.Quote-text {
  margin-bottom: 30px;
  font-family: Trade Gothic, Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 1.1428571429;
}
.Quote-text p {
  margin-bottom: 0;
}
.Quote-wrapper {
  display: flex;
  flex-direction: column;
}
.Quote-info {
  display: flex;
}
.Quote-image {
  max-width: 153px;
  margin-right: 20px;
  font-size: 0;
}
@media print, screen and (min-width: 40em) {
  .Quote-image {
    max-width: 70px;
  }
}
.Quote-image-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Quote-author {
  display: flex;
  flex-direction: column;
}
.Quote-author :first-child {
  font-weight: 700;
}
.Quote.Quote--big {
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto 64px;
}
@media print, screen and (min-width: 40em) {
  .Quote.Quote--big {
    padding: 0 40px;
  }
}
@media print, screen and (min-width: 64em) {
  .Quote.Quote--big {
    padding: 0 40px;
  }
}
@media screen and (min-width: 120em) {
  .Quote.Quote--big {
    max-width: 1540px;
    padding: 0 50px;
  }
}
@media screen and (min-width: 160em) {
  .Quote.Quote--big {
    max-width: 1920px;
    padding: 0 60px;
  }
}
@media print, screen and (min-width: 64em) {
  .Quote.Quote--big {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    padding: 0 0 128px;
  }
}
@media print, screen and (min-width: 64em) and (min-width: 40em) {
  .Quote.Quote--big {
    grid-column-gap: 32px;
  }
}
@media print, screen and (min-width: 64em) {
  .Quote.Quote--big .Quote-wrapper {
    grid-area: 1/5/2/12;
  }
}
.Quote.Quote--big .Quote-text {
  position: relative;
}
@media print, screen and (min-width: 64em) {
  .Quote.Quote--big .Quote-text {
    font-size: 3rem;
    line-height: 1.0833333333;
  }
  .Quote.Quote--big .Quote-text span:first-child {
    position: absolute;
    transform: translateX(-50px);
  }
}
.Quote.Quote--inline {
  margin-bottom: 48px;
  padding: 40px;
  background-color: #eae6e1;
}
@media print, screen and (min-width: 64em) {
  .Quote.Quote--inline {
    padding: 60px 60px 48px;
  }
  .Quote.Quote--inline .Quote-text p {
    font-size: 2.5rem;
  }
  .Quote.Quote--inline .Quote-text p span:first-child {
    margin-left: -25px;
    margin-right: 5px;
  }
  .Quote.Quote--is-medium .Quote-wrapper .Quote-text p {
    font-size: 1.625rem;
  }
  .Quote.Quote--is-large .Quote-text p {
    font-size: 1.5rem;
  }
}

.InsightsHeader {
  position:relative;
  margin-top:-90px;
  padding:130px 0 64px;
  color:#fff;
  --InsightsHeader-background:#152c2e
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader {
   margin-bottom:-50px;
   padding:170px 0 90px
  }
 }
 .InsightsHeader:after {
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  width:100%;
  height:80%;
  content:" ";
  background-color:var(--InsightsHeader-background)
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader:after {
   height:60%
  }
 }
 .InsightsHeader-title h1 {
  font-size:clamp(34px,5vw,60px)
 }
 .InsightsHeader-title h3 {
  font-size:clamp(24px,5vw,28px)
 }
 .InsightsHeader-title h1,
 .InsightsHeader-title h3 {
  margin-bottom:0
 }
 .InsightsHeader-blocks {
  margin-top:60px
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader-blocks {
   display:flex
  }
 }
 .InsightsHeader-block {
  margin-right:-24px;
  margin-bottom:25px;
  text-decoration:none;
  transition:color .15s ease-in-out
 }
 @media print,screen and (min-width:40em) {
  .InsightsHeader-block {
   margin-right:-40px
  }
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader-block {
   width:50%;
   margin-right:0
  }
 }
 .InsightsHeader-block:last-child {
  margin-bottom:0
 }
 .InsightsHeader-block:last-child .InsightsHeader-blockContent {
  background-color:#eae6e1
 }
 .InsightsHeader-block:hover .InsightsHeader-blockContent {
  color:#152c2e
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader-block:nth-child(2) {
   transform:translateY(-10%)
  }
 }
 .InsightsHeader-blockImageWrapper {
  --n:9;
  --d:16;
  padding-bottom:calc(var(--n)/var(--d)*100%);
  position:relative
 }
 .InsightsHeader-blockImageWrapper>* {
  overflow:hidden;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center
 }
 .InsightsHeader-blockImageWrapper-img {
  position:absolute;
  object-fit:cover;
  width:100%;
  height:100%
 }
 .InsightsHeader-blockContent {
  padding:30px 30px 25px;
  color:#5c1929;
  background-color:#f5f2ef
 }
 @media print,screen and (min-width:64em) {
  .InsightsHeader-blockContent {
   padding:40px 40px 35px
  }
 }
 .InsightsHeader-blockdate {
  margin-bottom:10px
 }
 .InsightsHeader-blockTitle {
  margin-bottom:0;
  font-size:clamp(24px,5vw,40px)
 }
